*,
*::before,
*::after {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    background: url("../img/bg.jpg");
    font-family: 'Raleway', sans-serif;
    position: relative;
    z-index: 10;
}

.menu {
    width: 100%;
    font-size: 1.1em;
    color: white;
    background: #000000;
    height: 50px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.menu__link {
    text-decoration: none;
    color: white;
}

.menu__logo {
    padding-left: 20px;
}

.menu__nav {
    padding-right: 50px;
}

.menu__icon {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
}

.banner {
    height: 550px;
    position: relative;
    padding-top: 50px;
    left: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    z-index: 10;
}

.banner__video {
    max-width: 100%;
}

.banner::before {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #ce1b28, #111111);
    opacity: .8;
}

.content {
    width: 100%;
    font-weight: 300;
    height: 200px;
    color: white;
    position: absolute;
    bottom: 150px;
    z-index: 100;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.content__title {
    padding-top: 30px;
    font-size: 3em;
    font-family: sans-serif;
    font-weight: 100;
}

.content__data {
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.4);
    width: 60%;
}


/* Features */

.features {
    width: 100%;
    background-color: rgba(255, 255, 255, .9);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    z-index: 10;
}


/* Features main */

.features__main {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.features__main__title {
    color: rgb(85, 85, 85);
    padding-top: 2.7em;
    padding-bottom: 0.5em;
    font-weight: 100;
}

.features__main__description {
    color: rgb(68, 68, 68);
    padding-top: 0.5em;
    padding-bottom: 0.1em;
    width: 60%;
    font-size: 1.2em;
}


/* Features Sections*/

.features__sections {
    --separate-row: 150px;
    padding-left: var(--separate-row);
    padding-right: var(--separate-row);
    margin-top: -30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.features__section {
    border-radius: 2px;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    background-color: white;
    width: 310px;
    height: 360px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.features__section__header {
    height: 180px;
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.features__icon {
    color: #ce1b28;
    font-size: 5em;
    text-decoration: none;
    padding-bottom: 10px;
}

.features__title {
    color: #555555;
}

.features__data {
    height: 50%;
    width: 80%;
    color: #555555;
    margin-top: -30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    height: 750px;
    color: white;
    position: relative;
    top: -350px;
    background: url("/img/cta01.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.about::before {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #ce1b28, #111111);
    opacity: .8;
}

.about__title {
    color: white;
    font-size: 2em;
    position: absolute;
    bottom: 250px;
}

.about__description {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1em;
    font-weight: 100;
    text-align: center;
    position: absolute;
    bottom: 150px;
    width: 80%;
}

.testimony {
    background-color: rgba(255, 255, 255, .9);
    margin-top: -350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.testimony__main {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.testimony__main__title {
    color: #555555;
    padding-top: 2.7em;
    padding-bottom: 0.5em;
    font-weight: 300;
    font-size: 2.5em;
}

.testimony__main__description {
    text-align: center;
    color: rgb(68, 68, 68);
    padding-top: 0.5em;
    padding-bottom: 0.1em;
    width: 60%;
    font-size: 1em;
}

.testimony__sections {
    --separate-row: 150px;
    padding-left: var(--separate-row);
    padding-right: var(--separate-row);
    margin-top: -140px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.testimony__section {
    border-radius: 2px;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    background-color: white;
    width: 330px;
    height: 330px;
    margin: 100px 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.testimony__description {
    text-align: left;
    font-style: italic;
    padding-left: 10px;
    margin-top: 10px;
    width: 220px;
    height: 150px;
    color: rgb(68, 68, 68);
    border-left: 8px solid rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimony__data {
    font-size: 0.73em;
    width: 220px;
    margin-top: -50px;
    color: rgb(68, 68, 68);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimony__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1.2em;
}

.testimony__name {
    color: #ce1b28;
}

.footer {
    height: 550px;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__main {
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.footer__content {
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer [class$="title"] {
    color: #ffffff;
    font-size: 1.1em;
    height: 25%;
    margin-bottom: 0;
}

.footer__content__description {
    color: rgba(255, 255, 255, 0.5);
    height: 80%;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__links {
    width: 25%;
    margin-right: 60px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*.footer__link__title {*/


/*color: #ffffff;*/


/*}*/

.footer__links__items {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__links__item {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 12px;
    padding-bottom: 8px;
    /*padding-top: 4px;*/
    font-size: 14px;
}

.footer__links__item:nth-last-of-type(1) {
    border-bottom: none;
}

.footer__links__item:hover {
    color: #ce1b28;
    transition: 0.3s;
}

.footer__social {
    width: 25%;
}

.footer__autor {
    width: 80%;
    font-size: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 30px;
    padding-top: 30px;
}

.footer__social__icons {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__social__logo {
    display: flex;
    align-items: center;
    /*border: 1px solid blue;*/
    height: 35px;
}

.marco {
    background-color: black;
    width: 40px;
    height: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    /*border: 1px solid green*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__social__icon {
    box-sizing: content-box;
    text-decoration: none;
    display: block;
    color: white;
    font-size: 15px;
    background-color: black;
    /*padding: 5px;*/
    /*border: 1px solid red;*/
}

.footer__social__name {
    margin-bottom: 5px;
    font-size: 15px;
    background-color: #111111;
    /*display: inline-block;*/
    width: 100%;
    height: 100%;
    padding-left: 20px;
    margin-top: 25px;
}

.footer__social__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Raleway', sans-serif;
}

.footer__social__link:hover {
    transition: .3s;
    color: #ce1b28;
}


/* nav */

.nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 290px;
    background-color: #111111;
    z-index: 1000;
}

.nav__list {
    position: absolute;
    width: 100%;
    top: 50px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__item {
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 80%;
}

.nav__item:nth-last-of-type(1) {
    border-bottom: none;
}

.nav__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.nav__link:hover {
    color: white;
}

.close {
    position: absolute;
    right: 19px;
    top: 15px;
}

.close__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.close__link:hover {
    color: white;
}